.MuiButton-label {
    padding: 0 1rem 0 1rem;
    color: darkslategrey;
    font-size: 1rem;
}

.MuiButton-label:hover {
    color: white;
}


.clicked {
    background-color: #313685!important;
}
.clicked span {
    color: white!important;
}