@media only screen and (max-width: 800px) {
    .footer-inputs-wrapper {
        flex-direction: column-reverse!important;
        align-items: center!important;
    }
    .footer-header-wrapper {
        text-align: center!important;
    }
    .footer-inputs-wrapper input, .footer-inputs-wrapper button {
        width: 75%!important;
    }
    .footer-wrapper input {
        margin-left: 0!important;
        margin-bottom: 20px!important;
    }
    .footer-wrapper {
        padding-right: 0!important;
    }
}

@media only screen and (max-width: 500px) {
    .footer-header {
        font-size: 1.25rem!important;
    }
}

.footer-wrapper {
    background: #eee;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    height: 15rem;
    justify-content: center;
    padding-right: 25%;
}

.footer-header {
    color: #0091e2;
    font-size: 1.5rem;
    /* margin-bottom: 2rem; */
}

.footer-button {
    background: red;
    color: #fff;
    width: 15%;
}

.footer-wrapper input {
    text-align: right;
    margin-left: 20px;
    border: 1px solid #ddd;
}

.footer-inputs-wrapper {
    display: flex;
    /* align-content: space-evenly; */
    flex-direction: row;
    justify-content: flex-end;
}

.footer-inputs-wrapper input, .footer-inputs-wrapper button {
    font-size: 1.5rem!important;
    border-radius: 5px;
    border: 1px solid #ddd;
    /* border: 1px; */
}

.footer-inputs-wrapper input {
    padding-right: 1em;
    font-size: 0.85rem!important;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-header-wrapper {
    margin-bottom: 1.5rem;
}

.footer-header-wrapper, .footer-inputs-wrapper {
    text-align: right;
}