/**** header ****/

.header-wrapper {
    background: #000018;
    /* padding: 0 1rem; */
    flex-direction: column;
    display: flex;
    margin-bottom: 2rem;
}

.header-centerize-wrapper {
    width: 100%;
    /* height: 100%; */
    max-width: 1000px;
    display: flex;
    align-self: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 3;
    margin-left: 6%;
}

.header-left {
    height: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.header-field {
    color: #fff;
    margin: 0 1%;
    padding: .3rem 1%;
    flex-grow: 1;
    transition: background-color .2s ease-in;
    background: inherit;
    border-radius: 5px;
    text-align: center;
}

.header-field:hover {
    background: #eee;
    color: #313685;
}

.home-link {
    color: #fff;
    font-size: 50px;
}

.currency .header-field {
    min-width: max-content;
}

.header-wrapper a {
    color: inherit;
    text-decoration: inherit;
}

.header-menu-button {
    display: flex;
    align-items: center;
    font-size: 4rem;
    margin-right: 50px;
}