@media only screen and (max-width: 1200px) {
    /* .mainApp-centerize-wrapper {
        flex-direction: column-reverse!important;
    } */
    /* .mainApp-filter-wrapper {
        width: 100%!important;
    } */
}

@media only screen and (max-width: 950px) {
    /* .mainApp-centerize-wrapper {
        display: unset!important;
    } */
}

@media only screen and (max-width: 880px) {
    .MuiButton-textPrimary {
        line-height: unset!important;
    }
    .MuiButton-label {
        padding: 0px!important;
    }
    .mainApp-centerize-wrapper {
        flex-direction: column-reverse!important;
    }
    .mainApp-filter-wrapper {
        margin-bottom: 2rem!important;
        width: 100%!important;
    }
    .search-input {
        width: 90%!important;
    }
    .search-input-mui {
        width: 100%!important;
    }
    .search-input-mui .MuiInputBase-input {
        text-align: right;
        margin-right: 20px;
    }
    .search-input-mui .MuiSvgIcon-root {
        margin-left: 20px;
    }
    .ratingFilter-wrapper .MuiTypography-body1 {
        width: 100%!important;
    }
    .ratingFilter-wrapper .MuiRating-readOnly {
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-evenly!important;
    }
    .select {
        justify-content: center!important;
    }
    .select .makeStyles-formControl-1 {
        width: 80%!important;
    }
    .mainApp-sort {
        display: unset!important;
    }
    .mainApp-vertical-line {
        display: none!important;
    }
    .mainApp-result-leftPart-priceText {
        font-size: 1rem!important;
    }
    .mainApp-sort-buttons {
        justify-content: center!important;
        display: flex!important;
    }
    .mainApp-sort-buttons button {
        width:30%!important;
        padding:0.5rem!important;
    }
}

@media only screen and (max-width: 500px) {
    /* .select {
        justify-content: center!important;
    }
    .select .makeStyles-formControl-1 {
        width: 80%!important;
    }
    .mainApp-sort {
        display: unset!important;
    }
    .mainApp-vertical-line {
        display: none!important;
    }
    .mainApp-result-leftPart-priceText {
        font-size: 1rem!important;
    } */
}

@media only screen and (max-width: 400px) {
    .mainApp-result-leftPart-priceText {
        font-size: 0.75rem!important;
    }
    .mainApp-result-table-leftPart-button {
        font-size: 0.5em;
    }
}

.mainApp-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.mainApp-centerize-wrapper {
    width: 100%;
    /* height: 100%; */
    max-width: 1000px;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.mainApp-filter-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #313685;
    text-align: end;
    border-radius: 5px;
    /* align-self: flex-start; */
    align-self: stretch;
}

.mainApp-sort {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.mainApp-filter-header {
    /* margin-right: 10%; */
    margin: 1rem;
}

.mainApp-result {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
}

.mainApp-result-header {
    color: #0091e2;
    /* margin-bottom: 0; */
    font-weight: 600;
    text-align: end;
}

.mainApp-sortAndResult {
    padding: 0 1rem 1rem 1rem;
    /* width: 75%; */
}

.ratingFilter-wrapper {
    border-top: 1px white solid;
}

.ratingFilter-header {
    margin: 1rem;
}

.mainApp-vertical-line {
    border-right: 2px grey solid;
    align-self: center;
    min-height: 2rem;
    opacity: 0.35;
}

.mainApp-result-wrapper {
    color: black;
    margin-top: 3rem;
}

.mainApp-result-table {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.mainApp-result-table-rightPart {
    width: 18%;
}

.mainApp-result-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.mainApp-result-table-MainPart {
    width: 61%;
    padding: 0.75rem;
    justify-content: space-evenly;
}

.mainApp-result-table-leftPart {
    width: 18%;
    padding: 0.75rem;
    background: #eef2f5;
    color: #0091e2;
    text-align: center;
    justify-content: space-around;
    min-height: 11rem;
}

.mainApp-result-table-leftPart, .mainApp-result-table-MainPart, .mainApp-result-table-rightPart {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    direction: rtl;
}

.mainApp-result-enterTime-header, .mainApp-result-exitTime-header {
    font-weight: 600;
    font-size: 0.75em;
    margin-left: 10px;
}

.mainApp-result-exitTime, .mainApp-result-enterTime-data {
    /* color: darkslategrey; */
    font-size: 0.85em;
    color: #888;
}

.mainApp-result-conditions {
    font-weight: 700;
    color: #363636;
    margin-top: 7px;
}

.mainApp-result-conditions .mainApp-vertical-line {
    margin: 0px 10px 0 10px;
}

.mainApp-result-rating {
    margin: 7px 0px 10px 0px;
}

.mainApp-result-name {
    text-transform: capitalize;
    color: #0091e2;
}

.mainApp-result-table-leftPart-button {
    background: red;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    font-weight: 700;
    width: 100%;
    height: 2.5em;
}

.mainApp-result-table-leftPart-button:hover {
    background: #c00;
}

.mainApp-result-leftPart-priceText {
    font-size: 2rem;
    display: block;
}

.mainApp-result-leftPart-text {
    font-size: 0.75em;
}