.mainApp-wrapper {
    display: flex;
    flex-direction: column;
}

.mainApp-centerize-wrapper {
    width: 100%;
    /* height: 100%; */
    max-width: 1000px;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.mainApp-filter-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #313685;
    text-align: end;
    align-self: flex-end;
    border-radius: 5px;
}

.mainApp-sort {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.mainApp-filter-header {
    /* margin-right: 10%; */
    margin: 1rem;
}

.mainApp-result {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.mainApp-result-header {
    color: #0091e2;
    /* margin-bottom: 0; */
    font-weight: 600;
}

.mainApp-sortAndResult {
    padding: 1rem;
    width: 75%;
}

.ratingFilter-wrapper {
    border-top: 1px white solid;
}

.ratingFilter-header {
    margin: 1rem;
}
.mainApp-vertical-line {
    border-right: 2px grey solid;
    align-self: center;
    min-height: 2rem;
    opacity: 0.35;
}