.mainApp-wrapper {
    display: flex;
    flex-direction: column;
}
.mainApp-centerize-wrapper {
    width: 100%;
    /* height: 100%; */
    max-width: 1000px;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.mainApp-filter-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #313685;
    text-align: end;
    align-self: flex-end;
    border-radius: 5px;
}

.mainApp-filter-header {
    /* margin-right: 10%; */
    margin: 1rem;
}

.mainApp-sortAndResult {
    color: red;
    width: 75%;
}

.ratingFilter-wrapper {
    border-top: 1px white solid;
}

.ratingFilter-header {
    margin: 1rem;
}